*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F0F0F0;
}
.main-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}
