*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*color: white;*/
    font-family: Arial;
}
body {
    background-color: #F0F0F0;
}
.main-grid {
    border: 2px solid black;
    width: 100vw;
    height: 150vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}
.nav-wrapper {
    background: black;
    grid-area: 1 / 1 / span 3 / -1;
}
.header-wrapper {
    /*background: cyan;*/
    height: 100%;
    width: 100%;
    grid-area: 4 / 1 / span 3 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-wrapper h2 {
    margin-bottom: 75px;
    font-size: 6vh;
    text-align: center;
}
.city-wrapper {
    /*background: red;*/
    grid-area: 6 / 1/ span 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
}
.dot-wrapper {
    background: green;
    grid-area: 7 / 1/ span 3 /-1;
}
.selected-work-wrapper {
    background: pink;
    grid-area:  10 / 1 / span 3 / -1 ;
    overflow: hidden;
}
.last-wrapper {
    background: yellow;
    /*grid-area:  11 / 1 / span 2 / -1;*/
    display: none;
}